@charset "UTF-8";

body {
    background-color: #ebedef;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  h1 {
    color: #900c3f;
    font-style: Georgia, serif;
  }
  
  h2 {
    color: #fcd148;
  }
  
  p {
    font-size: larger;
  }
  

  /*Menu geral*/
  #navbar {
    background-color: #856b7e;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
  }
  
  /* Estilo dos links do menu geral */
  #navbar a {
    font-weight: bold;
    float: left;
    display: block;
    color: #fdfd96;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #a18a9b;
    color: black;
  }
  