body {
    background-color: #ebedef;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  h1 {
    color: #900c3f;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
  }

  h2 {
    color: #900c3f;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 20px;
  }
  
  p {
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
    margin-left: 20px;
  }
  
  a{
    margin-left: 20px;
  }

  /*Menu geral*/
  
  /*  nav  menu  */
  nav{
      background-color: #856b7e;
      opacity: 0.7;
  }
  
/* Menu */
  .menu li {
    list-style-type: none;
  }

  .menu li a{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    float: left;
    display: block;
    color: #fdfd96;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  .menu li:hover{
    color: black;
    background-color:#a18a9b;
    cursor: pointer;
  }
     
.menu:not(.grid) {
  display: flex;
}
     
.menu.grid{
display: grid;
grid-template-columns: auto auto auto auto auto auto 1fr;
}
.menu ul{
display: grid;
}

label{
display: none;
font-size: 22px;
padding-left: 5px;
}

#toggle{
display: none;
}


/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

.subnavbtn{
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fdfd96;
  text-align: center;
  text-decoration: none;
}
/* Subnav button */
.subnav .subnavbtn {
  border: none;
  outline: none;
  padding: 15px 16px;
  background-color: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:#a18a9b;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #a18a9b;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #856b7e;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}




@media all and (max-width : 575px) {
  body{
    font-size: 90%;
  }

  .menu:not(.grid){
    flex-direction: column;
    text-align: center;
  }

  .menu.grid{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .menu>*:last-child{
    margin-left: 0;
  }

  .sandwich label{
    display: block;
  }

  .sandwich .menu{
    display: none;
  }

  .sandwich .menu{
    margin: -30px 0px 0px 30px;
    text-align: left;
  }

  .sandwich #toggle:checked + .menu:not(.grid) {
    display: flex;
  }

  .sandwich #toggle:checked + .menu.grid {
    display: grid;
  }
}
 


