body {
    background-color: #ebedef;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  h1 {
    color: #900c3f;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    color: #fcd148;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  
  p {
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
  }
  

  /*Menu geral*/
  
  /*  nav  menu  */
  nav{
      background-color: #856b7e;
      opacity: 0.7;
  }
  
/* Menu */
  .menu li {
    list-style-type: none;
  }

  .menu li a{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    float: left;
    display: block;
    color: #fdfd96;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  .menu li:hover{
    color: black;
    background-color:#a18a9b;
    cursor: pointer;
  }
     
.menu:not(.grid) {
  display: flex;
}
     
.menu.grid{
display: grid;
grid-template-columns: auto auto auto auto auto 1fr;
}
.menu ul{
display: grid;
}

label{
display: none;
font-size: 22px;
padding-left: 5px;
}

#toggle{
display: none;
}

@media all and (max-width : 575px) {
  body{
    font-size: 90%;
  }

  .menu:not(.grid){
    flex-direction: column;
    text-align: center;
  }

  .menu.grid{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .menu>*:last-child{
    margin-left: 0;
  }

  .sandwich label{
    display: block;
  }

  .sandwich .menu{
    display: none;
  }

  .sandwich .menu{
    margin: -30px 0px 0px 30px;
    text-align: left;
  }

  .sandwich #toggle:checked + .menu:not(.grid) {
    display: flex;
  }

  .sandwich #toggle:checked + .menu.grid {
    display: grid;
  }
}
  